ELL@DESKTOP-GT8Q123 MINGW64 ~/OneDrive/Desktop/BACKEND/Express (main)
$ git status
On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        modified:   node_modules/.package-lock.json
        modified:   package-lock.json
        modified:   package.json

Untracked files:
  (use "git add <file>..." to include in what will be committed)
        node_modules/.bin/giget
        node_modules/.bin/giget.cmd
        node_modules/.bin/giget.ps1
        node_modules/.bin/jiti
        node_modules/.bin/jiti.cmd
        node_modules/.bin/jiti.ps1
        node_modules/.bin/node-which
        node_modules/.bin/node-which.cmd
        node_modules/.bin/node-which.ps1
        node_modules/.bin/pglite-server
        node_modules/.bin/pglite-server.cmd
        node_modules/.bin/pglite-server.ps1
        node_modules/.bin/prisma
        node_modules/.bin/prisma.cmd
        node_modules/.bin/prisma.ps1
        node_modules/@electric-sql/
        node_modules/@hono/
        node_modules/@kurkle/
        node_modules/@prisma/
        node_modules/@radix-ui/
        node_modules/@standard-schema/
        node_modules/@types/
        node_modules/ajv/
        node_modules/aws-ssl-profiles/
        node_modules/better-result/
        node_modules/c12/
        node_modules/chart.js/
        node_modules/chokidar/
        node_modules/confbox/
        node_modules/cross-spawn/
        node_modules/csstype/
        node_modules/deepmerge-ts/
        node_modules/defu/
        node_modules/denque/
        node_modules/destr/
        node_modules/dotenv/
        node_modules/effect/
        node_modules/empathic/
        node_modules/env-paths/
        node_modules/exsolve/
        node_modules/fast-check/
        node_modules/fast-deep-equal/
        node_modules/fast-uri/
        node_modules/foreground-child/
        node_modules/generate-function/
        node_modules/get-port-please/
        node_modules/giget/
        node_modules/graceful-fs/
        node_modules/grammex/
        node_modules/graphmatch/
        node_modules/hono/
        node_modules/http-status-codes/
        node_modules/is-property/
        node_modules/isexe/
        node_modules/jiti/
        node_modules/json-schema-traverse/
        node_modules/long/
        node_modules/lru.min/
        node_modules/mysql2/
        node_modules/named-placeholders/
        node_modules/ohash/
        node_modules/path-key/
        node_modules/pathe/
        node_modules/perfect-debounce/
        node_modules/pg-cloudflare/
        node_modules/pg-connection-string/
        node_modules/pg-int8/
        node_modules/pg-pool/
        node_modules/pg-protocol/
        node_modules/pg-types/
        node_modules/pg/
        node_modules/pgpass/
        node_modules/pkg-types/
        node_modules/postgres-array/
        node_modules/postgres-bytea/
        node_modules/postgres-date/
        node_modules/postgres-interval/
        node_modules/postgres/
        node_modules/prisma/
        node_modules/proper-lockfile/
        node_modules/pure-rand/
        node_modules/rc9/
        node_modules/react-dom/
        node_modules/react/
        node_modules/readdirp/
        node_modules/remeda/
        node_modules/require-from-string/
        node_modules/retry/
        node_modules/scheduler/
        node_modules/seq-queue/
        node_modules/shebang-command/
        node_modules/shebang-regex/
        node_modules/signal-exit/
        node_modules/split2/
        node_modules/sqlstring/
        node_modules/std-env/
        node_modules/undici-types/
        node_modules/valibot/
        node_modules/which/
        node_modules/xtend/
        node_modules/zeptomatch/

no changes added to commit (use "git add" and/or "git commit -a")

DELL@DESKTOP-GT8Q123 MINGW64 ~/OneDrive/Desktop/BACKEND/Express (main)
$ 